.App {
    text-align: center;
  }
  
  .App-header {
    background-color: $ccdark;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $cclight;
  }

  .Map {
    padding-top: 10px;
    max-height: 70vh;
    max-width: auto;
  }

  .logo {
    min-height: 40px;
    max-height: 5vh;
  }

  .Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .Nav li {
    list-style-type: none;

    a {
      color: $ccden;
      text-decoration: none;
      font-weight: 900;
    }
  }
  
  .Request, .Admin, .Schedule{
    background-color: $cclight;
    min-height: 80vh;
    padding: 1vh 0;
  }
  
  .admin-login-form {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }

  .complexClosure {
    color: $ccden;
  }
  
  .copyright{
    opacity: 30%;
  }